body {
    text-align: center;
}

.h1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

#app {
    background-color: aqua;
}

#game {
    background-color: aquamarine;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 80px auto;
}
